In [1]:
import math
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [2]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name:7} ==> {phone:10d}')

Sjoerd  ==>       4127
Jack    ==>       4098
Dcab    ==>       7678

In [3]:
animals = 'eels'
print(f'My hovercraft is full of {animals}.')

My hovercraft is full of eels.

In [4]:
print(f'My hovercraft is full of {animals!r}.')

My hovercraft is full of 'eels'.

In [5]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [6]:
print('{0} and {1}'.format('spam', 'eggs'))

spam and eggs

In [7]:
print('{1} and {0}'.format('spam', 'eggs'))

eggs and spam

In [8]:
print('This {food} is {adjective}.'.format(
      food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [9]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred', 
                                                   other='Georg'))

The story of Bill, Manfred, and Georg.

In [10]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; '
      'Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [11]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {Jack:d}; Sjoerd: {Sjoerd:d}; Dcab: {Dcab:d}'
      .format(**table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

In [12]:
for x in range(1, 11):
    print('{0:2d} {1:3d} {2:4d}'.format(x, x*x, x*x*x))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [13]:
for x in range(1, 11):
    print(repr(x).rjust(2), repr(x*x).rjust(3), end=' ')
    # Note use of 'end' on previous line
    print(repr(x*x*x).rjust(4))

 1   1    1
 2   4    8
 3   9   27
 4  16   64
 5  25  125
 6  36  216
 7  49  343
 8  64  512
 9  81  729
10 100 1000

In [14]:
'12'.zfill(5)

'00012'

In [15]:
'-3.14'.zfill(7)

'-003.14'

In [16]:
'3.14159265359'.zfill(5)

'3.14159265359'

In [17]:
import math
print('The value of pi is approximately %5.3f.' % math.pi)

The value of pi is approximately 3.142.

In [18]:
### Reading and Writing Files
f = open("test.txt")

In [19]:
f = open("test.txt")
f.read(4)    # membaca 4 data (karakter) pertama

'The '

In [20]:
f.read(4)    # membaca 4 yang berikutnya lagi

'new '

In [21]:
f.read()     # membaca file sisanya sampai akhir file

'first line\nThe new second line\nThe new third line'

In [22]:
f.read()     # sudah tidak ada karakter untuk dibaca

''

In [23]:
f.tell()    # mendapatkan posisi kursor sekarang

57

In [24]:
f.seek(0)   # memindahkan kursor ke 0 (awal file)

0

In [25]:
print(f.read())   # membaca seluruh isi file

The new first line
The new second line
The new third line

In [26]:
f = open("test.txt")
for line in f :
    print(line, end = '')

The new first line
The new second line
The new third line

In [27]:
f = open("test.txt")
f.readline()

'The new first line\n'

In [28]:
f.readline()

'The new second line\n'

In [29]:
f.readline()

'The new third line'

In [30]:
f = open("test.txt")
f.readlines()

['The new first line\n', 'The new second line\n', 'The new third line']

In [31]:
with open("workfile.txt", 'w') as f:
    f.write("The new first line\n")
    f.write("The new second line\n")
    f.write("The new third line\n")

In [32]:
# Menutup File
f.close()

In [33]:
try:
    f = open("test.txt")
    # melakukan beberapa operasi file
finally:
    f.close()

In [34]:
with open("test.txt") as f:
    read_data = f.read()

# We can check that the file has been automatically closed.
f.closed

True

In [35]:
#  Menyimpan data terstruktur dengan json

In [36]:
# Menngubah dari JSON ke Python:
import json
x =  '{ "name":"John", "age":30, "city":"New York"}'
y = json.loads(x)
print(y["age"])

30

In [37]:
# Mengubah dari Python ke JSON:
import json
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}
y = json.dumps(x)
print(y)

{"name": "John", "age": 30, "city": "New York"}